html,
body {
  font-size: 1rem;
  height: 100%;
}

h1 {
  color: #ececec;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.photo {
  height: 400px;
}

p {
  font-family: "Fira Sans", sans-serif;
}
